<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createSkillServlet</servlet-name>
        <servlet-class>controllers.skill.createSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSkillServlet</servlet-name>
        <servlet-class>controllers.skill.updateSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSkillServlet</servlet-name>
        <servlet-class>controllers.skill.getSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDepartmentServlet</servlet-name>
        <servlet-class>controllers.department.getDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDepartmentServlet</servlet-name>
        <servlet-class>controllers.department.updateDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.mainController.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmployeeServlet</servlet-name>
        <servlet-class>controllers.employee.getEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createDepartmentServlet</servlet-name>
        <servlet-class>controllers.department.createDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployeeServlet</servlet-name>
        <servlet-class>controllers.employee.deleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmployeeServlet</servlet-name>
        <servlet-class>controllers.employee.updateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEmployeeServlet</servlet-name>
        <servlet-class>controllers.employee.createEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createSkillServlet</servlet-name>
        <url-pattern>/createSkillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSkillServlet</servlet-name>
        <url-pattern>/updateSkillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSkillServlet</servlet-name>
        <url-pattern>/getSkillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDepartmentServlet</servlet-name>
        <url-pattern>/getDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDepartmentServlet</servlet-name>
        <url-pattern>/updateDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmployeeServlet</servlet-name>
        <url-pattern>/getEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createDepartmentServlet</servlet-name>
        <url-pattern>/createDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployeeServlet</servlet-name>
        <url-pattern>/deleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmployeeServlet</servlet-name>
        <url-pattern>/updateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEmployeeServlet</servlet-name>
        <url-pattern>/createEmployeeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
